.Content-division
{
    padding-top: 130px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0 100px ;
}
.zoom{
    width: max-content;
    position: relative;
}
.zoom img{
    width: 500px;
}
.img-small
{
    max-width: 300px;
}
#imgZoom{
    position: absolute;
    left: 0;
    top: 0;
    --zoom-x: 80%;
    --zoom-y: 100%;
    transform: scale(1);
    pointer-events: none;
    clip-path: circle(
    50px at var(--zoom-x) var(--zoom-y)
    );
    opacity: 0;
}
.contents-product-texxt
{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2px;
    white-space: none;
    text-shadow: 12px;
    line-height: 24px;
}
.slick
{
  display: flex;
}
.limit
{

    max-width: 650px;
    word-wrap:break-word;
}
.contents-product-texxxt
{
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.8px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.1rem;
    --stroke: #666;
    --fill: #ffc73a;
    padding-right:  650px !important ;  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 1.5rem;
    height: 1.8rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  .code
  {
    font-size: 0.9rem;
    line-height: 24px;
    color:#6b6666 !important ;
    letter-spacing: 0.4px;
    white-space: none;
  }
  .price-rodu
  {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
  .price-text,
  .price-rodu-text
  {
    padding-right: 5px;
    font-size: 1rem;
    font-weight: 400;
  }
  .condition-of-products
  {
    width: fit-content;
    padding-bottom: 15px;
  }
  .condition
  {
    color: rgb(113, 112, 110);
    letter-spacing: 0.4px;
    padding-right:4px ;
    font-weight: 400;
    
  }
  .condition-product
  {
    color: rgb(0, 161, 0);
    letter-spacing: 0.4px;
    padding-right:4px ;
    font-weight: 400;
    
  }
  .funtion
  {
    display: flex;
    justify-content: start;
    align-items: center;
  }
.contact-function,
.order-function
{
  padding: 0 5px;
}
.contact-function-btn,
.order-function-btn
{
  padding: 6px 12px;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.4px;
  border: none;
}
.contact-function-btn
{
  background-color: rgb(3, 238, 3);
  color: white;
  box-shadow: 0 0 12px 0;
  transition: all 0.3s ease-in;
}
.contact-function-btn:hover
{
  background-color: rgb(121, 254, 121);
  color: #666;
  opacity: 0.8;
  outline: #666;
}
.order-function-btn
{
  background-color: rgb(245, 59, 22);
  color: white;
  box-shadow: 0 0 12px 0;
  transition: all 0.3s ease-in;
}
.order-function-btn:hover
{
  background-color: rgb(254, 143, 121);
  color: #666;
  opacity: 0.8;
}
.order-function-btn:active
.contact-function-btn:active
{
  outline: #666;

}
.comemnt
{
  padding-top:20px ;
}
.btn-nsnskn
{
  padding-top:10px ;
}
.btnsend,
.btnreset
{
  padding: 6px 10px;
  margin: 0 6px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  transition: all 0.3s ease-in-out;
}
.btnsend
{
  background:#5dabeb !important;
  color: white;
}
.btnsend:hover
{
  background:#81baea !important;
  color: rgb(137, 135, 135);
  opacity: 0.8;
}
.btnreset:hover
{
  background:#62696e !important;
  color: rgb(183, 159, 159);
  opacity: 0.8;
}